extends layout 

block content 

    h3= title 

    p #[strong Description: ] #{category.description}

    h4 Watches in the #{category.name}'s Collection: 

    each watch in watches   
        hr 
        p       
            a(href=watch.url) #{watch.name} 
            |   (#{watch.reference_number})
    else 
        p There are no Wathces in the #{category.name}'s Collection